* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner-paragraph {
    position: absolute;
    top: 216px;
    bottom: 166px;
    left: 845px;
    right: 200px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-sub-title {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

.failure-history {
    display: flex;
    gap: 87px;
    margin: 131px 322px 129px 206px;
}

.correct-mark {
    color: green;
}

.failure-texts {
    margin-top: 239px;
}

.failure-texts .title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-texts .description {
    margin-bottom: 16px;
    color: #444343;
}

.failure-texts p {
    margin-bottom: 8px;
    color: #444343;
}

.plan-title {
    margin-left: 700px;
    margin-right: 680px;
    width: 8em;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 129px;
    margin-bottom: 50px;
}

.plans {
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    gap: 60px;
}

.plan .title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}

.plan .description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

.plan-img {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.mix-background {
    background-image:
        linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),
        url('../images/watch.png');
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    background-size: cover;
    color: white;
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 64px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
    font-weight: 400;
    font-size: 40px;
}

.mix-background .btn-primary {
    margin-top: 24px;
}

.footer {
    display: flex;
    background: #151414;
    justify-content: space-around;
}

.contact {
    margin-top: 136px;
    margin-left: 236px;
    margin-bottom: 124px;

}

.contact .title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.contact .description{
    color: #FFFFFF;
    margin-bottom: 24px;
}

.contact .email{
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact .phone{
    color: #FFFFFF;
    margin-bottom: 32px;
}

.icon-gap{
    margin-right: 18px;
    margin-left: 17px;
}

.subscribe {
    margin-top: 130px;
    margin-right: 229px;
    margin-left: 331px;
    margin-bottom: 243px;
}

.subscribe .title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.subscribe-email {
    width: 325px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    margin-bottom: 16px;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 21px;
    padding-right: 158px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.subscribe .btn-primary {
    color: white;
    background-color: #005FAC;
}

.copyright-footer{
    background: #151414;
}
.copyright{
    text-align: right;
    color: white;
}