* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner-paragraph {
    position: absolute;
    top: 216px;
    bottom: 166px;
    left: 845px;
    right: 200px;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-sub-title {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

.failure-history {
    display: flex;
    gap: 87px;
    margin: 131px 322px 129px 206px;
}

.correct-mark {
    color: green;
}

.failure-texts {
    margin-top: 239px;
}

.failure-texts .title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-texts .description {
    margin-bottom: 16px;
    color: #444343;
}

.failure-texts p {
    margin-bottom: 8px;
    color: #444343;
}

.plan-title {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 129px;
    margin-bottom: 50px;
}

.plans{
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    gap: 60px;
}

.plan .title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}

.plan .description{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;    
}
.plan-img{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}